@import url('//db.onlinewebfonts.com/c/73e0fc96eb73ae25fd95435dd694cbb5?family=Aileron+Bold');
@import url('//db.onlinewebfonts.com/c/351c65048c69125fa2f3421ec197545d?family=Aileron');
.form-container {
    width: 90vw;
    height: fit-content;
    margin: auto;
    font-family: 'Aileron', sans-serif;
    position: relative;
    margin-top: 10%;
    margin-bottom: 100vh;
}
body
{
    font-size: 5vw;
}

.form-top {
    display: grid;
    position: relative;
  
}

.fonts_div
{
    font-family: 'Aileron', sans-serif;
    font-weight: 700;
}
.form-mid {
    display: grid;
}

.form-bottom {
    display: grid;
}
.mid
{
    background-image: url("./Subtract2.png");
    margin-left: -6vw;
    width: 90vw;
    background-repeat: no-repeat;
    height: min-content;
}

.bgpic {
    width: 100%;
    height: auto;
}

.register-now {
    font-size: 20px;
    color: #3A3A3A;
    width: fit-content;
    margin: auto;
    font-weight: 700;
    z-index: 9;
    position: absolute;
}

.form {
    width: 100%;
    position: absolute;
    z-index: 9;
    padding: 7%;
    box-sizing: border-box;
}



/* .bookTicketsBtnDiv:hover{
 transform: translate(50px,50px);
    background-color: #F35C41;
} */

.addIndividualBtnDiv img{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pass-type {
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height:100%;
    color: #141414;
    margin-top: 1.3rem;
}

.p-person {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #3A3A3A;
}

.input-text-field {
    background: rgba(255, 255, 255, 0);
    /* height: ; */
    width: 100%;
    padding: 2% 3%;
    border-color: black;
    border-width: 2px;
    font-size: 125%;
    box-sizing: border-box;
}

.person {
    width: 100%;
    box-sizing: border-box;
}
.password-container{
    width: 80%;
    position: relative;
    font-family: Aileron;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
    width: 80%;
    box-sizing: border-box;
    font-family: Aileron;
    justify-content: center;
    display: flex;
    margin-left: 14vw;
  }
  .fa-eye{
    position: absolute;
    top: 25%;
    right: 2%;
    cursor: pointer;
    color: lightgray;
  }
  

textarea:focus,
input:focus {
    outline: none;
}

.innerdiv
{
    
    display: flex;justify-content:center;flex-direction: column;column-width: 10vw;
    font-family: aileron;
}

.pass-gender {
    width: 55%;
}

.pass-age {
    width: 30%;
}

.pass-age .select-selected,
.pass-gender .select-selected {
    background-color: transparent;
    color: black;
}

.age-gen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
/*the container must be positioned relative:*/

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}
/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    top: 7px;
}
/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    box-sizing: border-box;
    padding: 5px 8px;
    border: 2px solid black;
    border-color: rgba(0, 0, 0);
    cursor: pointer;
    user-select: none;
    height:10vw;
    line-height:150% ;
    background-color: #099FBC;
}
/*style items (options):*/

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-select:after {
    border-left: 2px solid rgb(0, 0, 0);
    content: "\00a0";
    position: absolute;
    top: 7px;
    right: 32px;
    z-index: 2;
    display: block;
    height: 65%;
}

.remove-button {
    font-size: 0.75rem;
    padding: 0.5rem;
    background: #F35C41;
    border: 1.5px solid #000000;
    width: fit-content;
    float: right;
    position: relative;
    top: -2.5rem;
    color: white;
}
.ccp-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
