@import url(//db.onlinewebfonts.com/c/564f6ec12550d3a8d7ec25152231244d?family=Star+Guard+Semi+Italic);
@import url(//db.onlinewebfonts.com/c/deb32b91d90407c8527dfeaac14994d6?family=Aileron);
* {
  margin: 0%;
}

.navbar {
  width: 100%;
  height: 15vh;
  border: 2px solid #f35c41;
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.merchheader {
  width: 60vw;
}



.scrolldown {
  margin-top: 2%;
  color: #f35c41;
  font-family: "Aileron";
  font-weight: 600;
  text-align: center;
}

.listfooter {
  background-color: #0B0B0B;;
}

.listfooter a {
  background-color: inherit;
}

.mainbody {
  margin-top: 10%;
  height: 70vh;
  min-height: fit-content;
  border: 2px solid red;
}

.tshirtcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tshirtcard1,
.tshirtcard2,
.tshirtcard3 {
  box-sizing: border-box;
  background-color: #fefcf0;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #000000;
  padding: 2%;
  margin-bottom: 5%;
}

.tshirtcard1,
.tshirtcard2 {
  margin-right: 5%;
}

.cardwhiteshirt {
  width: 310px;
  height: 351px;
  background-color: #f35c41;
}

.cardblackshirt {
  width: 310px;
  height: 351px;
  background-color: #c3de47;
}

.cardorangeshirt {
  width: 310px;
  height: 351px;
  background-color: #099fbc;
}

.cardtext {
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.textstyle {
  background: transparent;
  font-weight: 600;
  font-size: 1.4vw;
}

.price {
  font-weight: 700;
  color: #ff598a;
}

@font-face {
  font-family: "Star Guard Italic";
  src: url("../../fonts/star-guard-italic.ttf") format("truetype");
}
.footer_desk {
  /* position: absolute; */
  width: 100vw;
  /* height: 40vw; */
  /* left: 0px; */
  background: #0b0b0b;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-sizing: border-box;
  padding: 5vh 5vw 2vh 5vw;
}
.footer_main {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hail {
  position: absolute;
  font-family: "Star Guard Semi Italic";
  font-style: italic;
  font-weight: 500;
  font-size: 6vw;
  line-height: 7vw;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fefcf0;

  text-shadow: 0px 14px 40px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.inqueries {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 300;
  font-size: 2.6vh;
  line-height: 24px;
  color: #ffffff;
  padding-top: 3.06vh;
  text-align: right;
}

.red {
  width: 7vw;
  height: 12vw;
  position: relative;
  top: -6vw;
  left: 12vw;
}
/* .red:hover{
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 0.5s infinite  alternate;
  

}
@-webkit-keyframes mover {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-15px); }
}
@keyframes mover {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-15px); }
} */
.violet {
  width: 10vw;
  height: 13vw;
  position: relative;
  top: 6vw;
  left: -6vw;
}
/* .violet:hover{
  -webkit-animation: moverv 0.5s infinite  alternate;
  animation: moverv 0.5s infinite  alternate;
  

}
@-webkit-keyframes moverv {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-50px); }
}
@keyframes moverv {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-50px); }
} */

.green {
  width: 10vw;
  height: 13vw;
  position: relative;
  top: 10vw;
  left: -8vw;
}
/* .green:hover{
  -webkit-animation: moverg 0.5s infinite  alternate;
  animation: moverg 0.5s infinite  alternate;
  

}
@-webkit-keyframes moverg {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-50px); }
}
@keyframes moverg {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-50px); }
} */
.yellow {
  width: 10vw;
  height: 15vw;
  position: relative;
  left: 6vw;
  top: -6vw;
}
/* .yellow:hover{
  -webkit-animation: movery 0.5s infinite  alternate;
  animation: movery 0.5s infinite  alternate;
  

}
@-webkit-keyframes movery {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-50px); }
}
@keyframes movery {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-50px); }
} */

.stones {
  display: flex;
  flex-direction: row;
  /* position:absolute; */
  /* bottom: calc(57% - 12vw/2 - 1vw);
        left: calc(40% - 17vw/2 - 1vw); */
}

.footer_desk ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  /* margin-top: 6vw; */
  /* height: 17vw; */
  /* margin-left: 5vw; */
}

.footer_desk li {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 700;
  font-size: 2.6vh;
  line-height: 3.2vh;
  padding-top: 3.73vh;
  /* identical to box height */
  margin-top:-1vh ;

  text-align: left;
  text-transform: uppercase;

  color: #ffffff;
}

.footer_desk a {
  font-weight:900;
  color: white;
  text-decoration: none;
}
/* .contact{ */
/* margin: 6vw 4vw 1vw 1vw; */
/* }  */
.details {
  display: flex;
  flex-direction: column;
  padding-top: 3.73vh;
}
.shareka {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Aileron";
  font-style: normal;
  font-size: 2.6vh;
  line-height: 3.2vh;
  text-align: right;
  /* margin: 2vw; */
  color: #fffffe;
}
.abhi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Aileron";
  font-style: normal;
  font-size: 2.6vh;
  line-height: 3.2vh;
  text-align: right;
  /* margin: 2vw; */
  color: #fffffe;
}
.socialIcon {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* position:relative; */
  /* top:4vw; */
  /* right: 4vw; */
}
.socials_desk {
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
}
.socials_mob {
  display: none;
}

.socials_desk a {
  padding: 0px 0px 0px 10px;
  width: 30px;
  height: 30px;
}

.logo_mob {
  display: none;
}
.footer_bottom{
  margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .logo_mob {
    padding: 15vw 12vw ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hail {
    font-family: "Star Guard Italic";
    font-weight: 400;
    font-size: 17vw;
    line-height: 16vw;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fefcf0;
    text-shadow: 0px 7.58043px 21.6584px rgb(0 0 0 / 20%);

    color: #fefcf0;

    text-shadow: 0px 7.58043px 21.6584px rgba(0, 0, 0, 0.2);
  }
  .yellow {
    width: 21vw;
    height: 36vw;
    position: relative;
    left: 24vw;
    top: -15vw;
  }
  .red {
    width: 20vw;
    height: 35vw;
    position: relative;
    top: -15vw;
    left: 37vw;
  }
  .violet {
 
    width: 29vw;
    height: 39vw;
    position: relative;
    top: 18vw;
    left: -20vw;

  }

  .green {
    width: 31vw;
    height: 41vw;
    position: relative;
    top: 23vw;
    left: -16vw;
  }
  .inqueries {
    font-family: "Aileron";
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 24px;
    color: #ffffff;
  }

  /* .contact{
        margin: 6vw 4vw 1vw 1vw;
    } */
  /* .Logo{
        display: none;
    }
  
    
    .logo{
        display: none;
    }
  
    
    .desk{
        display: none;
    } */
  .footer_desk {
    /* position: absolute; */
    width: 100%;
    /* height: 46vh; */
    /* left: 0px; */
    background: #272727;

    /* display: flex;
        flex-direction: row; */
  }
  .footer_bottom{

    margin: 4vh ;
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
}

  /* .footer_desk ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 6vw;
        height: 28vh;
        margin-left: 2.93vw;
    } */
  .footer_desk li {
    font-family: "Aileron";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6vh;
    line-height: 1.86vh;
    /* identical to box height */

    text-align: left;
    text-transform: uppercase;

    color: #ffffff;
  }
  /* .socialIcon{
        display:flex;
        flex-direction:column;
        height:fit-content;
        position:relative;
        top:4vw;
        right: 4vw;
    } */
  .socials_mob{
        display:flex;
        
        flex-direction: row;
        justify-content: flex-end;
        
    }
  .socials_desk{
        display: none;
    }
.details_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .socials_mob a{
    padding: 4px 0px 0px 16px;
    }

  .shareka {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Aileron";
    font-style: normal;
    font-size: 1.6vh;
    line-height: 1.86vh;
    text-align: right;

    color: #fffffe;
  }
  .abhi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Aileron";
    font-style: normal;
    font-size: 1.6vh;
    line-height: 1.86vh;
    text-align: right;

    color: #fffffe;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 0vh;
    padding-top: 0;
    text-align: right;
  }
  .socials a {
    width: 2.18vh;
    height: 2.18vh;
  }
}

/* animations */
/* :root{
  --X:10px;
  --Y:10px;
  --deg:10deg;
} */
@-o-keyframes movery {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(15px,-15px) rotate(-15deg); }
  50% { transform: translate(15px,-15px) rotate(15deg); }
  75% { transform: translate(15px,-15px) rotate(-15deg); }
  100% { transform: translate(-15px,-15px) rotate(15deg); }
}@-ms-keyframes movery {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(15px,-15px) rotate(-15deg); }
  50% { transform: translate(15px,-15px) rotate(15deg); }
  75% { transform: translate(15px,-15px) rotate(-15deg); }
  100% { transform: translate(-15px,-15px) rotate(15deg); }
}@-moz-keyframes movery {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(15px,-15px) rotate(-15deg); }
  50% { transform: translate(15px,-15px) rotate(15deg); }
  75% { transform: translate(15px,-15px) rotate(-15deg); }
  100% { transform: translate(-15px,-15px) rotate(15deg); }
}
@-webkit-keyframes movery {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(15px,-15px) rotate(-15deg); }
  50% { transform: translate(15px,-15px) rotate(15deg); }
  75% { transform: translate(15px,-15px) rotate(-15deg); }
  100% { transform: translate(-15px,-15px) rotate(15deg); }
}
@keyframes movery {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(15px,-15px) rotate(-15deg); }
  50% { transform: translate(15px,-15px) rotate(15deg); }
  75% { transform: translate(15px,-15px) rotate(-15deg); }
  100% { transform: translate(-15px,-15px) rotate(15deg); }
} 

/* body:has(.hail:hover) */
 .yellow{
  -webkit-animation: movery 20s infinite alternate;
  animation: movery 20s infinite alternate;
}

@-o-keyframes moverr {
  0% { transform: translate(0px,0px);}
  19% { transform: translate(-15px,-15px) rotate(-15deg); }
  45% { transform: translate(15px,15px) rotate(15deg); }
  79% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}@-ms-keyframes moverr {
  0% { transform: translate(0px,0px);}
  19% { transform: translate(-15px,-15px) rotate(-15deg); }
  45% { transform: translate(15px,15px) rotate(15deg); }
  79% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}@-moz-keyframes moverr {
  0% { transform: translate(0px,0px);}
  19% { transform: translate(-15px,-15px) rotate(-15deg); }
  45% { transform: translate(15px,15px) rotate(15deg); }
  79% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@-webkit-keyframes moverr {
  0% { transform: translate(0px,0px);}
  19% { transform: translate(-15px,-15px) rotate(-15deg); }
  45% { transform: translate(15px,15px) rotate(15deg); }
  79% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@keyframes moverr {
  0% { transform: translate(0px,0px);}
  19% { transform: translate(-15px,-15px) rotate(-15deg); }
  45% { transform: translate(15px,15px) rotate(15deg); }
  79% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
} 

/* body:has(.hail:hover) */
 .red{
  -webkit-animation: moverr 20s infinite alternate;
  animation: moverr 20s infinite alternate ;
}
@-ms-keyframes moverv {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,25px) rotate(15deg); }
  75% { transform: translate(-15px,-15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@-moz-keyframes moverv {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,25px) rotate(15deg); }
  75% { transform: translate(-15px,-15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@-o-keyframes moverv {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,25px) rotate(15deg); }
  75% { transform: translate(-15px,-15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@-webkit-keyframes moverv {
  0% { transform: translate(0px,0px);}
  25% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,25px) rotate(15deg); }
  75% { transform: translate(-15px,-15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@keyframes moverv {
  0% { transform: translate(0px,0px);}
  35% { transform: translate(15px,15px) rotate(-15deg); }
  50% { transform: translate(-15px,15px) rotate(15deg); }
  78% { transform: translate(15px,25px) rotate(-15deg); }
  100% { transform: translate(25px,25px) rotate(15deg); }
} 

 /* body:has(.hail:hover) */
 .violet{
  -webkit-animation: moverv 20s infinite alternate;
  animation: moverv 20s infinite alternate ;
}
@-ms-keyframes moverg {
  0% { transform: translate(0px,0px);}
  21% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,15px) rotate(15deg); }
  74% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@-o-keyframes moverg {
  0% { transform: translate(0px,0px);}
  21% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,15px) rotate(15deg); }
  74% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@-moz-keyframes moverg {
  0% { transform: translate(0px,0px);}
  21% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,15px) rotate(15deg); }
  74% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}

@-webkit-keyframes moverg {
  0% { transform: translate(0px,0px);}
  21% { transform: translate(-15px,15px) rotate(-15deg); }
  50% { transform: translate(15px,15px) rotate(15deg); }
  74% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(15px,-15px) rotate(15deg); }
}
@keyframes moverg {
  0% { transform: translate(0px,0px);}
  22% { transform: translate(15px,-15px) rotate(-15deg); }
  59% { transform: translate(15px,-15px) rotate(15deg); }
  76% { transform: translate(-15px,15px) rotate(-15deg); }
  100% { transform: translate(-15px,-15px) rotate(15deg); }
} 

/* body:has(.hail:hover) */
 .green{
  -webkit-animation: moverg 20s infinite alternate;
  animation: moverg 20s infinite alternate ;
}

.footer_logo{
  width: 15vw;
}
@media only screen and (max-width:768px) {
  .footer_logo{
      width: 50vw;
  }
}